# Virtual environment
eye/
__pycache__/
*.pyc
*.pyo
FixaTons_methods/__pycache__/
.DS_Store
**/.DS_Store
.ipynb_checkpoints/
videodata/
models/
data/
fixationsexport/*
!fixationsexport/*.py
KeyFrame_Algorithm_Report.pdf
reports/